# dependencies
/node_modules
/.pnp
.pnp.*

# tests
/coverage
/playwright-report
/test-results

# next.js
/.next/
/out/

# production
/build

# local configuration
.env*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editors and operating systems
.DS_Store
Thumbs.db
*.swp

# typescript
*.tsbuildinfo
